.title {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-text-title);
}

.paragraph {
    color: var(--color-text-read);
    font-size: 20px;
}

.text-center {
    text-align: center;
}